{% extends "inicio.html" %}
{% block content %}
   <style type="table">
    table {
  border-collapse: separate;
}
</style>
      <table align="center" width="800" cellspacing="1" cellpadding="3" border="0" bgcolor="midnightblue">
<tr>
    <td bgcolor="#86aad2">
        <center>
        <br><br>
        <form action="/submitagenda" method="POST">
            <div align="left">
                <body>
                    Hora de Entrada:
                    <select name="Entradas" method="GET" action="/" placeholder="Entrada">
                    {% for E in Entradas %}
                    <option value="{{E}}" SELECTED>{{E}}</option>
                    {% endfor %}
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     Hora de Salida
                    <select name="Salidas" method="GET" action="/" placeholder="Salida">
                    {% for S in Salidas %}
                    <option value="{{S}}" SELECTED>{{S}}</option>
                    {% endfor %}
                    </select>
                </body>
                <br><br>
                <input class="btn" type="submit" value="Hacer Horario" >
            </div>
          </form>
            <br><br>
            
{% if entrada != salida and salida > entrada %}
<table border="1">
  <tr>
    <th scope="col" bgcolor="dodgerblue">Horas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Lunes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Martes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Miercoles&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Jueves&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Viernes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th scope="col" bgcolor="dodgerblue">Sábado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>

  <tr>
    <td bgcolor="lightblue">7:00 am-8:00 am</td>
    {% if entrada == 700 %}
    {% for pri in primera %}
    <td bgcolor="whitesmoke">{{pri}}</td>
    {% endfor %}
    {% endif %}
  </tr>

  <tr>
    <td bgcolor="lightblue">8:00 am-9:00 am</td>
    {% if entrada <= 800 %}
    {% for seg in segunda  %}
    <td bgcolor="whitesmoke">{{seg}}</td>
    {% endfor %}
    {% endif %}
  </tr>

  <tr>
    <td bgcolor="lightblue">9:00 am-10:00 am</td>
    {% if entrada <= 900 %}
    {% for ter in tercera  %}
    <td bgcolor="whitesmoke">{{ter}}</td>
    {% endfor %}
    {% endif %}
  </tr>

  <tr>
    <td bgcolor="lightblue">11:00 am-12:00 pm</td>
    {% if entrada <= 1100 %}
    {% for cuar in cuarta  %}
    <td bgcolor="whitesmoke">{{cuar}}</td>
    {% endfor %}
    {% endif %}
  </tr>
                
  <tr>
    <td bgcolor="lightblue">12:00 pm-1:00 pm</td>
    {% if entrada <= 1200 %}
    {% for quin in quinta  %}
    <td bgcolor="whitesmoke">{{quin}}</td>
    {% endfor %}
    {% endif %}
  </tr>
                
  <tr>
    <td bgcolor="lightblue">1:00 pm-2:00 pm</td>
    {% if salida == 1500 %}
    {% for sext in sexta  %}
    <td bgcolor="whitesmoke">{{sext}}</td>
    {% endfor %}
    {% endif %}
  </tr>
                
  <tr>
    <td bgcolor="lightblue">2:00 pm-3:00 pm</td>
    {% if salida == 1500 %}
    {% for sept in septima %}
    <td bgcolor="whitesmoke">{{sept}}</td>
    {% endfor %}
    {% endif %}
  </tr>
                
</table>
{% else %}
<h1>La hora de salida y de entrada no puedes ser iguales o la salida antes de entrar</h1>
{% endif %}
            </center>
   </td>
    
</tr>
          <br>
          <br>
          <td bgcolor="#86aad2" weidth="10"><h2>Instrucciones:</h2><br>
        Selecciona la hora que deseas ingresar diaraiamente a la facultad, y de la misma manera desea la hora de salida de tu preferencia, nosotros te daremos las opciones mas optimas para que tengas un horario de acuerdo a tus necesidades.
      
      Solo toma en cuenta que si tienes materias reprobadas, recuerda que debes tomar esas antes que otra.</td>
</table>

    
{% endblock %}